{% extends 'flatpages/default.html' %}
{% block title %}
"Профиль"
{% endblock title %}

{% block content %}
<h1>Профиль</h1>

<hr>

    <table align="center">
        <tr>
            <td>Email</td>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>

        </tr>
        {% endfor %}
    </table>

{% if is_not_authors %}
<button> <a href="/upgrade/"> Хочу Стать автором!</a> </button>
{% endif %}

{% endblock content %}



